<div class="user-details">
  <p>如果你希望能偶尔看一眼自己买的股票涨势如何</p>
  <p>但又碍于周围同事太多不敢打开炒股软件</p>
  <p>想掏出手机看一眼又嫌很麻烦</p>
  <p>并不想因为频繁的动作影响工作效率</p>
  <p>股票软件放在后台但也懒得和工作软件之间切来切去</p>
  <p>曾经因为上班打开炒股软件被领导拍肩膀</p>
  <h2>幽灵股票就是你的选择</h2>
</div>
<div class="user">
  <div class="tech">
    <h2>上班族优化</h2>     
    <p>特别针对长时间使用电脑进行工作的上班族进行优化，支持面板的透明度变换，位置拖动，字号调整，指标自定义，主面板永远在前台</p>
  </div>
  <div class="tech">
    <h2>多市场支持</h2>
    <p>支持A股，港股(持续更新中)</p>
  </div>
  <div class="tech">
    <h2>多系统支持</h2>
    <p>支持windows，mac，linux，支持工程师，设计师，文员...</p>
  </div>
</div>
<div class="user">
  <div class="tech">
    <h3>效果图</h3>
    <img style="width: 100%;" src="/res/xiaoguo.png"/>
  </div>
</div>