<div id="particles-js">
  <div class="header">
      <h1>
        <span class="site-title"><img style="width: 40%;height: 40%;" src="res/icon.png"/></span>
        <span class="site-title">{{ site.username }}</span>
        <span class="site-description">{{ site.user_title }}</span>
      </h1>
      <div class="header-icons">
        <div style="width: 40%;"><a aria-label="My Instagram" target="_blank" href="https://www.baidu.com"><i class="icon fa fa-windows" aria-hidden="true"></i></a>
        <p>Windows</p><p>(Windows7及以上)</p></div>

        <div style="width: 40%;"><a aria-label="My Instagram" target="_blank" href="https://www.baidu.com"><i class="icon fa fa-apple" aria-hidden="true"></i></a>
        <p>MacOS</p><p>(10.10及以上)</p></div>

        <div style="width: 40%;"><a aria-label="My Instagram" target="_blank" href="https://www.baidu.com"><i class="icon fa fa-linux" aria-hidden="true"></i></a>
        <p>Linux</p><p>(仅在Ubuntu测试过)</p></div>
      </div>
      <div class="header-links">
        <!-- <a class="link" href="#about" data-scroll>About Me</a> -->
      </div>
  </div>
</div>
